<div class="container container-section">
  <div class="col-lg-8 text-center">
    <h2 class="text-center text-uppercase text-secondary mb-0">Nuevo Colaborador</h2>
    <%= render 'form', colaborador: @colaborador %>    
  </div>  
</div>