<div class="container container-section">
  <div class="col-lg-8 text-center">
    <h2 class="text-center text-uppercase text-secondary mb-0">Nuevo Servicio</h2>
    <%= render 'form', servicio: @servicio %>    
  </div>  
</div>