<!-- Intro -->
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="img-fluid" src="<%= asset_path('profile.png') %>" alt="">
    <h1 class="text-uppercase mb-0">Centro Médico Veterinario</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Dra. Mariana Carles M.- Enfermedades de la piel - Medicina General</h2>
  </div>
</header>